header{
	height: 100px;
	text-align: center;
	padding: 40px;
}

main{
	height: 300px;
}

nav{
	height: 100px;
	text-align: center;
	padding: 40px;
}

aside{
	height: 300px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	float: left;
	padding: 135px 80px;
}

section{
	height: 150px;
	width: 300px;
	margin-left: 200px;
	padding: 50px 581px;
}

article{
	height: 150px;
	width: 300px;
	padding: 50px 581px;
	margin-left: 200px;
}

footer{
	height: 100px;
	text-align: center;
	padding: 40px;
}